:root {
    --space-xs: .32em;
    --space-sm: .5em;
    --space-md: 1em;
    --space-lg: 2em;

    --bg-main: rgb(15, 23, 42);
    --bg-dark: #334155;
    --bg-slate-dark: hsl(217, 33%, 17%);
    --bg-slate-highlight: hsl(215, 19%, 35%);

    --text: #f0f0f0;

    --accent: hsl(83.7, 80.5%, 60.5%);
    --accent-light: hsl(83.7, 80.5%, 60.5%);
    --accent-lightest: hsl(83.7, 80.5%, 80.1%);
    --accent-dark: hsl(83.7, 80.5%, 40.5%);

    accent-color: var(--accent);

    --warning: hsla(52, 77%, 53%, 1);
    --warning-light: hsla(52, 77%, 66%, 1);
    --warning-lighter: hsla(52, 77%, 88%, 1);

    --danger: hsl(353, 72%, 44%);
    --danger-light: hsl(353, 72%, 60%);
    --danger-lighter: hsl(353, 72%, 80%);

    --text-size-0: 14pt;
    --text-size-1: 17pt;
    --text-size-2: 20pt;
    --text-size-3: 25pt;
    --text-size-4: 31pt;
    --text-size-5: 37pt;
    --text-size-6: 45pt;
}

* {
    font-family: 'Segoe UI', Verdana, Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    border-radius: 0;
}

body {
    background-color: var(--bg-main);
    color: var(--text);
    padding: 0;

    font-size: var(--text-size-0);
    line-height: 1em;
}

header> :is(h1, h2, h3, h4, h5, h6) {
    border-bottom: 3px solid var(--accent);
}

h2,
h3,
h4,
h5,
h6 {
    margin: var(--space-md) 0 var(--space-sm) 0;
    line-height: 1em;
    font-weight: normal;
}

h6 {
    font-size: var(--text-size-0);
    font-weight: bold;
}

h5 {
    font-size: var(--text-size-1);
}

h4 {
    font-size: var(--text-size-2);
}


h3 {
    font-size: var(--text-size-3);
}

h2 {
    font-size: var(--text-size-4);
}

h1 {
    font-size: var(--text-size-5);
    margin: 0 0 .5em 0;
    line-height: 1em;
    font-weight: normal;
}

.xl {
    font-size: var(--text-size-6);
}

ol,
ul {
    padding: var(--space-sm) 0 0 var(--space-md);
}

li {
    margin-bottom: var(--space-sm);
}

p,
blockquote {
    line-height: 1.5em;
    margin: 0 0 1.5em 0;
}

a {
    color: var(--accent);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

blockquote {
    display: block;
    font-size: var(--text-size-3);
    padding: var(--space-sm);
    border-left: var(--bg-slate-dark) solid .2em;
}

hr {
    margin: var(--space-lg) 0;
    color: var(--bg-slate-highlight);
}

pre,
code,
samp {
    font-family: Consolas, 'Courier New', Courier, monospace;
}

pre {

    white-space: pre-wrap;
    tab-size: 4;
}

.flex-grid {
    display: flex;
    gap: 1em;
    flex-direction: row;
    flex-wrap: wrap;
}

input,
button,
textarea,
select {
    padding: var(--space-sm);
    margin: var(--space-sm) 0;

    background: var(--bg-slate-dark);
    color: var(--text);

    font-size: var(--text-size-0);

    outline: none;
    border: none;
    border-bottom: var(--bg-slate-highlight) solid 2px;
}

input:focus,
button:focus,
textarea:focus {
    border-color: var(--accent);
}

input:invalid,
button:invalid,
textarea:invalid {
    border-color: var(--danger);
}

button,
input[type=submit],
input[type=button],
input[type=reset],
.button {
    background-color: var(--accent-dark);
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.1) 0px 4px 6px -4px;

    border: thin solid var(--accent-light);
    border-radius: 4px;

    min-width: 4em;
    cursor: pointer;

    text-transform: capitalize;


    &.subtle {
        background-color: transparent;
    }

    &.subtle:hover {
        color: var(--accent);
    }

    &.warning {
        background-color: var(--warning);
        border-color: var(--warning-light);
        color: var(--bg-main);
    }

    &.danger {
        background-color: var(--danger);
        border-color: var(--danger-light);
    }

    &:hover {
        filter: brightness(135%);
    }

    &:disabled {
        filter: brightness(50%);
        cursor: not-allowed;
    }
}

input[type=checkbox],
input[type=radio] {
    width: 1rem;
    height: 1rem;
}

label+ :is(input, select, textarea) {
    display: block;
}

fieldset {
    border: none;
    outline: none;
    padding: var(--space-sm) 0;
}

details {
    border: 1px solid var(--bg-slate-highlight);
    overflow: hidden;
}

summary {
    padding: var(--space-sm);
    font-size: var(--text-size-1);
    background-color: var(--bg-slate-dark);

    cursor: pointer;
}

table {
    border-collapse: collapse;
}

thead {
    color: var(--accent);
    text-align: left;
}

thead>tr {
    border-bottom: 2px solid var(--accent);
}

tbody>tr {
    border-bottom: 2px solid var(--bg-dark);
}

tbody>tr:nth-child(2n+1) {
    background-color: var(--bg-slate-dark);
}

th,
td {
    padding: var(--space-sm) var(--space-md);
    font-variant-numeric: tabular-nums;
}

.block {
    display: block;
}

.sm {
    padding: var(--space-sm);
    min-width: 180px;
    min-height: 40px;
}

.md {
    padding: var(--space-md);
    min-width: 360px;
    min-height: 120px;
}

.lg {
    padding: var(--space-lg);
    min-width: 1080;
    min-height: 360;
}

layout {
    padding: var(--space-lg);
    display: grid;
    margin: 0;
    min-height: 100vh;
    grid-template-columns: 280px 1fr;
    grid-template-rows: auto 1fr;
    gap: 1em;
}

layout>nav {
    grid-row-end: span 2;
    position: sticky;
    align-self: start;
    top: var(--space-md);
}

layout>header {
    grid-column: 1 / -1;
    grid-row: 1;
}

layout>main {
    grid-column: 2;
    grid-row: 2;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    margin: 0;
    padding: 0;
}

nav ul li a {
    display: flex;
    align-items: center;
    height: 40px;
    /* width: 100%; */
    color: var(--text);
    margin-left: calc(-1 * var(--space-md));
    padding-left: var(--space-md);
    border: transparent solid 1px;
    /* border-radius: 0.32em; */
}

nav ul li a:hover {
    background-color: var(--bg-slate-dark);
    text-decoration: none;
    border-color: var(--bg-slate-highlight);
}

grid {
    display: grid;
    gap: 1em;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    min-height: 100px;
}

grid .col-span-1 {
    grid-column: span 1;
}

grid .col-span-2 {
    grid-column: span 2;
}

grid .col-span-3 {
    grid-column: span 3;
}

grid .col-span-4 {
    grid-column: span 4;
}

grid .col-span-5 {
    grid-column: span 5;
}

grid .col-span-6 {
    grid-column: span 6;
}

grid .col-span-7 {
    grid-column: span 7;
}

grid .col-span-8 {
    grid-column: span 8;
}

grid .col-span-9 {
    grid-column: span 9;
}

grid .col-span-10 {
    grid-column: span 10;
}

grid .col-span-11 {
    grid-column: span 11;
}

grid .col-span-12 {
    grid-column: span 12;
}

grid .col-1 {
    grid-column: 1;
}

grid .col-2 {
    grid-column: 2;
}

grid .col-3 {
    grid-column: 3;
}

grid .col-4 {
    grid-column: 4;
}

grid .col-5 {
    grid-column: 5;
}

grid .col-6 {
    grid-column: 6;
}

grid .col-7 {
    grid-column: 7;
}

grid .col-8 {
    grid-column: 8;
}

grid .col-9 {
    grid-column: 9;
}

grid .col-10 {
    grid-column: 10;
}

grid .col-11 {
    grid-column: 11;
}

grid .col-12 {
    grid-column: 12;
}

.listbox {
    list-style: none;
    background-color: var(--bg-slate-dark);
    border: 2px solid var(--bg-dark);
    padding: 0;
    width: fit-content;

    & li:not(:last-child) {
        border-bottom: 2px solid var(--bg-dark);
    }

    & li {
        margin: 0;
        position: relative;
        padding-right: 2em;
    }

    & li:hover {
        background-color: var(--bg-slate-highlight);
    }

    & li a {
        display: inline-block;
        padding: var(--space-sm);
        color: var(--text);
        text-decoration: none;
    }

    & li a::after {
        position: absolute;
        right: 8px;
        top: 4px;
        color: var(--accent);
        font-size: 2em;
        content: '\203A'
    }
}

@media only screen and (max-width: 768px) {

    input,
    select,
    textarea,
    button,
    .button {
        width: 100%;
    }

    .sm {
        min-width: unset;
        min-height: unset;
    }

    .md {
        min-width: unset;
        min-height: unset;
    }

    .lg {
        min-width: unset;
        min-height: unset;
    }
}