:root {
    --space-sm: .5em;
    --space-md: 1em;
    --space-lg: 2em;

    --bg-main: rgb(15, 23, 42);
    --bg-dark: #334155;
    --bg-slate-dark: hsl(217, 33%, 17%);
    --bg-slate-highlight: hsl(215, 19%, 35%);

    --text: #f0f0f0;

    --accent: hsl(83.7, 80.5%, 60.5%);
    --accent-light: hsl(83.7, 80.5%, 60.5%);
    --accent-lightest: hsl(83.7, 80.5%, 80.1%);
    --accent-dark: hsl(83.7, 80.5%, 40.5%);

    accent-color: var(--accent);

    --warning: hsla(52, 77%, 53%, 1);
    --warning-light: hsla(52, 77%, 66%, 1);
    --warning-lighter: hsla(52, 77%, 88%, 1);

    --danger: hsl(353, 72%, 44%);
    --danger-light: hsl(353, 72%, 60%);
    --danger-lighter: hsl(353, 72%, 80%);

    --text-size-0: 14pt;
    --text-size-1: 17pt;
    --text-size-2: 20pt;
    --text-size-3: 25pt;
    --text-size-4: 31pt;
    --text-size-5: 37pt;
    --text-size-6: 45pt;
}

* {
    font-family: 'Segoe UI', Verdana, Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    border-radius: 0;
}

body {
    background-color: var(--bg-main);
    color: var(--text);
    padding: var(--space-lg);

    font-size: var(--text-size-0);
    line-height: 1em;
}

header> :is(h1, h2, h3, h4, h5, h6) {
    border-bottom: 3px solid var(--accent);
}

h2,
h3,
h4,
h5,
h6 {
    margin: var(--space-md) 0 var(--space-sm) 0;
    line-height: 1em;
    font-weight: normal;
}

h6 {
    font-size: var(--text-size-1);
}

h5 {
    font-size: var(--text-size-2);
}

h4 {
    font-size: var(--text-size-3);
}


h3 {
    font-size: var(--text-size-4);
}

h2 {
    font-size: var(--text-size-5);
}

h1 {
    font-size: var(--text-size-6);
    ;
    margin: 0 0 .5em 0;
    line-height: 1em;
    font-weight: normal;
}

ol,
ul {
    padding: var(--space-sm) 0 0 var(--space-md);
}

li {
    margin-bottom: var(--space-sm);
}

p,
blockquote {
    line-height: 1.5em;
    margin: 0 0 1.5em 0;
}

blockquote {
    display: block;
    font-size: var(--text-size-3);
    padding: var(--space-sm);
    border-left: var(--bg-slate-dark) solid .2em;
}

hr {
    margin: var(--space-lg) 0;
    color: var(--bg-slate-highlight);
}

pre, code, samp { 
    font-family: Consolas, 'Courier New', Courier, monospace;
}
pre {   
   
    white-space: pre-wrap;
    tab-size: 4;
}

.flex-grid {
    display: flex;
    gap: 1em;
    flex-direction: row;
    flex-wrap: wrap;
}

input,
button,
textarea,
select {
    padding: var(--space-sm);
    margin: var(--space-sm) 0;

    background: var(--bg-slate-dark);
    color: var(--text);

    font-size: var(--text-size-0);

    outline: none;
    border: none;
    border-bottom: var(--bg-slate-highlight) solid 2px;
}

input:focus,
button:focus,
textarea:focus {
    border-color: var(--accent);
}

input:invalid,
button:invalid,
textarea:invalid {
    border-color: var(--danger);
}

button,
input[type=submit],
input[type=button],
input[type=reset],
.button {
    background-color: var(--accent-dark);
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.1) 0px 4px 6px -4px;

    border: thin solid var(--accent-light);
    border-radius: 4px;

    min-width: 4em;
    cursor: pointer;

    text-transform: capitalize;


    &.subtle {
        background-color: transparent;
    }

    &.subtle:hover {
        color: var(--accent);
    }

    &.warning {
        background-color: var(--warning);
        border-color: var(--warning-light);
        color: var(--bg-main);
    }

    &.danger {
        background-color: var(--danger);
        border-color: var(--danger-light);
    }

    &:hover {
        filter: brightness(135%);
    }

    &:disabled {
        filter: brightness(50%);
        cursor: not-allowed;
    }
}

input[type=checkbox],
input[type=radio] {
    width: 1rem;
    height: 1rem;
}

label+ :is(input, select, textarea) {
    display: block;
}

fieldset {
    border: none;
    outline: none;
    padding: var(--space-sm) 0;
}

details {
    border: 1px solid var(--bg-slate-highlight);
    overflow: hidden;
}

summary {
    padding: var(--space-sm);
    font-size: var(--text-size-1);
    background-color: var(--bg-slate-dark);

    cursor: pointer;
}

table {
    border-collapse: collapse;
}

thead {
    color: var(--accent);
    text-align: left;
}

thead > tr {
    border-bottom: 2px solid var(--accent);
}

tbody > tr {
    border-bottom: 2px solid var(--bg-dark);
}

tbody > tr:nth-child(2n+1) {
    background-color: var(--bg-slate-dark);
}

th,
td {
    padding: var(--space-sm) var(--space-md); 
    font-variant-numeric: tabular-nums;
}

.block {
    display: block;
}

.sm {
   padding: var(--space-sm);
   min-width: 180px;
   min-height: 40px; 
}

.md {
    padding: var(--space-md);
    min-width: 360px;
    min-height: 120px; 
 }

.lg {
    padding: var(--space-lg);
    min-width: 1080;
    min-height: 360;
}

.listbox {
    list-style: none;
    background-color: var(--bg-slate-dark);
    border: 2px solid var(--bg-dark);
    padding: 0;
    width: fit-content;

    & li:not(:last-child) {
        border-bottom: 2px solid var(--bg-dark);
    }

    & li {
        margin: 0;
        position: relative;
        padding-right: 2em;
    }

    & li:hover {
        background-color: var(--bg-slate-highlight);
    }

    & li a {
        display: inline-block;
        padding: var(--space-sm);
        color: var(--text);
        text-decoration: none;
    }

    & li a::after {
        position: absolute;
        right: 8px;
        top: 4px;
        color: var(--accent);
        font-size: 2em;
        content: '\203A'
    }
}

@media only screen and (max-width: 768px) {
    input, select, textarea, button, .button {
        width: 100%; 
    }

    .sm {
        min-width: unset;
        min-height: unset; 
     }
     
     .md {
         min-width: unset;
         min-height: unset; 
      }
     
     .lg {
         min-width: unset;
         min-height: unset;
     }
}